it.unibo.issMaterial/issdocs/Tools/Bluemix/IOT/MasterNodeRed.txt
[{"id":"ea64c76d.7b3128","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"your_device","deviceType":"your_device_type","eventCommandType":"blink","format":"json","data":"4","name":"IBM IoT App Out","service":"registered","x":812,"y":136,"z":"54689fb9.8d5998","wires":[]},{"id":"3e77d543.c1882a","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"your_device_id","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"x":159,"y":264,"z":"54689fb9.8d5998","wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":383.5,"y":301,"z":"54689fb9.8d5998","wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":"31"},{"t":"gt","v":"31"}],"checkall":"true","outputs":2,"x":531.5,"y":290,"z":"54689fb9.8d5998","wires":[["80621eff.7f9de","6ac6740a.754594"],["8e1706a.f71e8f8","f29221f1.a21828","361c2fc0.351d5"]]},{"id":"5dad02b7.a252fc","type":"debug","name":"cpu status","active":true,"complete":"false","x":860.5,"y":298,"z":"54689fb9.8d5998","wires":[]},{"id":"c0c482df.3f3b8","type":"debug","name":"device data","active":false,"console":"false","complete":"true","x":400.5,"y":211,"z":"54689fb9.8d5998","wires":[]},{"id":"80621eff.7f9de","type":"template","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":713.5,"y":252,"z":"54689fb9.8d5998","wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","name":"danger","field":"","format":"json","template":"Temperature ({{payload}}) critical","x":712.5,"y":346,"z":"54689fb9.8d5998","wires":[["5dad02b7.a252fc"]]},{"id":"7b6d963a.94f1d","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"your_device_id","deviceType":"your_device_id","eventCommandType":"blink","format":"json","data":"4","name":"IBM IoT App Out","service":"registered","x":667,"y":560,"z":"54689fb9.8d5998","wires":[]},{"id":"f29221f1.a21828","type":"function","name":"blink rate","func":"rate = 3;\nmsg.payload = \"{ \\\"blink\\\": \"+rate+ \" }\";\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":516,"z":"54689fb9.8d5998","wires":[["a9b248c4.e28e88","7b6d963a.94f1d"]]},{"id":"a9b248c4.e28e88","type":"debug","name":"Show Blink Rate","active":false,"console":"false","complete":"payload","x":658,"y":456,"z":"54689fb9.8d5998","wires":[]},{"id":"b8a0a598.8ae918","type":"comment","name":"Control LED blink > 31","info":"The subflow converts the reading from potentiometer1 to an LED blink rate between 0 and 5.\n\n0 turns the LED off\n\nA value between 1 and 5 is the rate per second that the LED on the K64F will blink at.\n\nFinally the IoT Output node sends the blink command to the device. ","x":705,"y":407,"z":"54689fb9.8d5998","wires":[]},{"id":"6ac6740a.754594","type":"function","name":"blink rate","func":"rate = 0;\nmsg.payload = \"{ \\\"rate\\\": \"+rate+ \" }\";\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":162,"z":"54689fb9.8d5998","wires":[["ab044ede.0a8ed","ea64c76d.7b3128"]]},{"id":"ab044ede.0a8ed","type":"debug","name":"Show Blink Rate","active":false,"console":"false","complete":"payload","x":804,"y":63,"z":"54689fb9.8d5998","wires":[]},{"id":"65b1a031.2fb5b","type":"comment","name":"LED OFF <=31","info":"The subflow converts the reading from potentiometer1 to an LED blink rate between 0 and 5.\n\n0 turns the LED off\n\nA value between 1 and 5 is the rate per second that the LED on the K64F will blink at.\n\nFinally the IoT Output node sends the blink command to the device. ","x":787,"y":20,"z":"54689fb9.8d5998","wires":[]},{"id":"25767637.92a4da","type":"function","name":"setup for HTML rendering","func":"var rows = msg.payload.rows;\nmsg.payload = rows[rows.length-1].doc.payload;\nmsg.headers = {\"Content-Type\": \"text/html\"};\nreturn msg;","outputs":1,"noerr":0,"x":481.25,"y":698.25,"z":"54689fb9.8d5998","wires":[["70419265.bd2f4c","dcdae472.34672"]]},{"id":"7fdf44fe.8a1e24","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":821,"y":815.25,"z":"54689fb9.8d5998","wires":[]},{"id":"4ac38727.3e5078","type":"http response","name":"/data","x":965,"y":680.25,"z":"54689fb9.8d5998","wires":[]},{"id":"70419265.bd2f4c","type":"template","name":"format web page","field":"payload","format":"handlebars","template":"d<!DOCTYPE html>\n<html lang=\"en\">\n      <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n    <title>Bootstrap 101 Template</title>\n\n    <!-- Bootstrap -->\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\">\n\n<!-- Optional theme -->\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css\">\n\n    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\n      <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n    <![endif]-->\n  </head>\n  <body>\n    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js\"></script>\n    <!-- Include all compiled plugins (below), or include individual files as needed -->\n    <!-- Latest compiled and minified CSS -->\n\n<!-- Latest compiled and minified JavaScript -->\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js\"></script>\n\n    <h1 align=\"center\"> ARM mbed IoT Starter Kit IBM by LDG </h1>\n    \n     <h1 align=\"center\"> --------------------------------- </h1>\n\n    <h1 align=\"center\"> Temperature stored in the last 10 seconds </h1>\n\n    {{ #payload }}\n      <li><h2 align=\"center\"> {{ payload }}ºC </h2></li>\n    {{ /payload }} \n  </body>\n</html>","x":755.25,"y":682,"z":"54689fb9.8d5998","wires":[["4ac38727.3e5078","7fdf44fe.8a1e24"]]},{"id":"cc3c30d6.7b58e8","type":"http in","name":"data","url":"/data","method":"get","swaggerDoc":"","x":191.88333129882812,"y":592.8833312988281,"z":"54689fb9.8d5998","wires":[["e4a45cbc.ddf47"]]},{"id":"e4a45cbc.ddf47","type":"http request","name":"Data","method":"GET","ret":"obj","url":"https://ceaf10ca-2ab8-4400-b095-1d11aa452419-bluemix.cloudant.com/data/_all_docs?include_docs=true","x":260.8833312988281,"y":684.8833312988281,"z":"54689fb9.8d5998","wires":[["25767637.92a4da"]]},{"id":"3103e164.1ad286","type":"cloudant out","service":"miotestarm-cloudantNoSQLDB","cloudant":"","name":"data","database":"data","payonly":true,"operation":"insert","x":363.31188583374023,"y":393.1689910888672,"z":"54689fb9.8d5998","wires":[]},{"id":"dcdae472.34672","type":"debug","name":"","active":false,"console":"false","complete":"true","x":604.88330078125,"y":799.88330078125,"z":"54689fb9.8d5998","wires":[]},{"id":"361c2fc0.351d5","type":"trigger","op1":"1","op2":"0","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","name":"delay","x":191.4285888671875,"y":392.8571605682373,"z":"54689fb9.8d5998","wires":[["3103e164.1ad286"]]}]